[Unit]
Description=uNabto Tunnel
After=network.target

[Service]
EnvironmentFile=/etc/zerostick.env
ExecStart=/opt/unabto-tunnel/unabto_tunnel -d zerostick.test.nabto.net -N "ZeroStick ${LAST_OF_MAC}" -R "ZeroStick" -s --allow-port 8081 --allow-all-ports
WorkingDirectory=/opt/unabto-tunnel
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
