[Unit]
Description=uNabto Tunnel
After=network.target

[Service]
ExecStart=/opt/unabto-tunnel/unabto_tunnel -d zerostick.test.nabto.net -N "ZeroStick Device" -P "ZeroStick" -s --allow-port 8081
WorkingDirectory=/opt/unabto-tunnel
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
