[Unit]
Description=ZeroStick
After=network.target

[Service]
ExecStart=/opt/zerostick/zerostick
WorkingDirectory=/opt/zerostick
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
